# Example: keep a record of batch updates

By default, the `update` method of a `MeanVarBatch` class object overwrites the previous values. It may be useful for debugging purposes to keep a record of the previous values. This is easy to do by appending the updated values to a Pandas `DataFrame` object using normal Pandas methods. Here is an example.

First let's set up the example by creating some fake data to work with:

In [1]:
import numpy as np
import stats_batch as sb

# Set up example ----------------------------------------------
# Simulate full sample
n = 10_000
a = np.random.normal(size=n, loc=0.1)

Now let's batch update and save each update to a `DataFrame` object called `suf_stats_df`:

In [2]:
for i, new_list in enumerate(sb.group_elements(a , 1_000)):
    if i == 0:
        mean_var_a = sb.mean_var_batch(new_list)
        suf_stats_df = mean_var_a.to_pandas()
    else:
        mean_var_a.update(new_list)
        suf_stats_df = suf_stats_df.append(mean_var_a.to_pandas())

suf_stats_df.head()

       mean       var  sum_squared_dev  sample_size
0  0.090329  1.011066      1011.066333         1000
0  0.089078  1.013585      2026.156258         2000
0  0.101189  1.003203      3008.605613         3000
0  0.096670  1.023832      4094.302922         4000
0  0.096647  0.999413      4996.066320         5000